$screen-sm: 320px;
$screen-smd: 360px;
$screen-smdd: 500px;
$screen-md: 768px;
$screen-lg: 1440px;


$color-1: #ffffff;
$color-2: #FF3E79;
$color-3: #EAEAEA;
$color-4: #D9FFF5;


.header-media320 {
    
    @media(min-width: $screen-sm) {

        display: block;
        background-color: $color-1;
        display: flex;
        width: 100%;
        height: 88px;
        justify-content:space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;


        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: $color-2;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.2);
                background-color: #e73370;
            }

            &:nth-child(2) {
                background-color: transparent;  
            }
        }
        
        &__logo {
            width: 96.55px;
            height: 50.81px;
            background-color: transparent;
        }

        &__divider  {
            width: 2px;
            height: 32px;
            background-color: $color-3;
        }
    }

    @media (min-width: $screen-md) {
        display: none;
    }
  
    @media (min-width: $screen-lg) {
        display: none;
    }
}



.header-media768 {
    @media (min-width: $screen-sm) {
        display: none;
    }

    @media (min-width: $screen-md) {
        background-color: $color-1;
        display: flex;
        width: 100%;
        height: 88px;
        justify-content:space-around;
        align-items: center;

        &__left {
            display: flex;
            justify-content: flex-start;
            height: 88px;
            align-items: center;
            width: 50%;
            gap: 15px;
            padding-left: 20px;
        }

        &__right {
            display: flex;
            height: 88px;
            justify-content: flex-end;
            align-items: center;
            width: 50%;
            gap: 15px;
            padding-right: 20px;
        }

        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #FF3E79;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.2);
                background-color: #e73370;
            }

        }

        &__logo {
            width: 96.55px;
            height: 50.81px;
            background-color: transparent;
            transition: transform 0.5s;
            
            &:hover {
                transform: scale(1.2);
                background-color: transparent;
            }   
        }

        &__divider {
            width: 2px;
            height: 32px;
            background-color: #EAEAEA;
            margin-left: 5px;
            margin-right: 5px;
        }
        
    }

    @media (min-width: 1440px) {
        display: none;
    }
  
}


.header-shadow {
    @media(min-width: $screen-sm) {
        height: 1px;
        background-color: $color-4;
    }
}

