$color-5: #f8f8f8;
$color-6: #41F6D7;
$color-7: #7E7E82;
$color-8: #B8FFEC;


@mixin text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    padding-left: 16px;
}


.main-info {

    &__description {
        transition: max-height 2s ease, height 2s ease;
        overflow: hidden;
    }

    &__hidden-button {
        display: block;
        white-space: nowrap;
        background-color: #f8f8f8;
        font-size: 14px;
        letter-spacing: -0.2px;
        font-weight: 500;
        padding-top: 16px;
        padding-left: 20px;
        cursor: pointer;
        transition: transform 0.5s;
        position: relative;

        &:hover {
            transform: scale(1.05);

        }

        p {
            display: inline-block;
            position: absolute;
            left: 60px;
        }
    }

    &__strelki-2 {
        transform: rotate(180deg);
        padding-left: 15px;
        margin-left: 20px;
        transition: transform 0.5s;
        
        &:hover {
            transform: scale(1.5);
            transform: rotate(180deg);
        }

    }    


    @media(min-width: $screen-sm) {
        
        &__icons {
            display: none;
        }

        &__title {
            font-weight: 700;
            font-size: 28px;
            line-height: 40px;
            letter-spacing: -0.6px;
            padding-left: 16px;

            &::before {
                content: "";
                display: block;
                position: relative;
                top: 23px;
                right: 34px;
                transform: rotate(-90deg);
                width: 40px;
                height: 4px;
                background-color: $color-6;
                border-bottom-right-radius: 100px;
                border-bottom-left-radius: 100px;
                padding-left: 0.5px;
            }
        }

        &__header {
            padding-top: 20px;
        }

        &__menu {
            display: flex;
            flex-wrap: nowrap;
            column-gap: 5px;
            row-gap: 10px;
            overflow-x: auto;
            scrollbar-width: none;
            white-space: nowrap;
            margin-top: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            color: #7E7E82;
            padding-left: 16px;
        }
        
        &__item-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            max-width: 100%;
            height: 40px;
            padding: 10px;
            color: $color-7;
            cursor: pointer;
            transition: all 1.5s;
            transition: border 0.01s;
            border: 2px solid transparent;

            &:hover {
                border: 2px solid $color-8;
                border-radius: 6px;
                background-color: $color-1;
                box-sizing: border-box;
            }
        }


        &__all {
            margin-top: 30px;
        }

        &__add-text {
            display: none;
            @include text;
        }

        &__add-text-2 {
            display: none;
            @include text;
        }

        &__description {
            @include text;
            height: 150px;
            overflow: hidden;
        }

        &__read-more {
            margin-top: 13px;
            margin-bottom: 20px;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: -0.2px;
            padding-left: 16px;
            position: relative;  
            transition: max-height 2s ease, height 2s ease; 
        }

        &__img {
            width: 100%;
            margin-bottom: 40px;

            @media(min-width: $screen-smd) {
                width: 360px;
            }
        }

        &__strelki {
            padding-left: 9px;
            cursor: pointer;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.5);
            }

            @media(min-width: $screen-md) {
               padding-left: 12px;
                cursor: pointer;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.5);
                } 
            }

            @media(min-width: $screen-lg) {
               padding-left: 12px;
                cursor: pointer;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.5);
                } 
            }

        }

        &__button {
            display: inline-block;
            position: absolute;
            left: 46px;
            cursor: pointer;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.05);
            }

            @media(min-width: $screen-md) {
                display: inline-block;
                position: absolute;
                left: 56px;
                cursor: pointer;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }

            @media(min-width: $screen-lg) {
                display: inline-block;
                position: absolute;
                left: 66px;
                cursor: pointer;
                transition: transform 0.5s;

                &:hover {
                    transform: scale(1.05);
                }
            }
        }

    }


    @media(min-width: $screen-md) {

        &__title {
            padding-left: 24px;

            &::before {
                top: 23px;
                right: 42px;
            }
        }

        &__menu {
            padding-left: 24px;
        }

        &__all {
            display: flex;
            flex-direction: row;
            gap: 48px;
        }

        &__text {
            padding-top: 10px;
        }

        &__add-text {
            display: block;
            font-size: 14px;
            margin-top: 20px;
        }

        &__description,
        &__add-text {
            padding-left: 24px;
        }

        &__description {
            height: 125px;
            overflow: hidden;
        }

        &__read-more {
            padding-left: 24px;
            margin-top: 12px;
            margin-bottom: 0;

            &::before {
                padding-left: 10px;
            }
        }

        &__img {
            margin-right: 24px;
            width: 50%;
            height: 100%;
            border-radius: 10px;
            margin-bottom: 40px;
        }

        &__item-menu {
            border: 2px solid transparent;

            &--active {
                padding-left: 20px;
                padding-right: 20px;
                border: 2px solid $color-8;
            }
        }
        
    }
    

    @media(min-width: $screen-lg) {

        &__header {
            display: flex;
            padding-top: 42px;
            justify-content: space-between;
        }
        
        &__icons  {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 10px;
            cursor: pointer;
        }

        &__items {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            background-color: #FF3E79;
            border-radius: 50%;
            cursor: pointer;
            transition: transform 0.4s, background-color 0.5s;

            &:hover {
                transform: scale(1.15);
                background-color: #e73370;
            }
        }

        &__settings, 
        &__search {
            display: flex;
            align-items: center;
            margin-right: 15px;
        }

        &__icons-text {
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
            letter-spacing: -0.2px;
        }

        &__title {
            padding-left: 33px;

            &::before {
            top: 23px;
            right: 51px;
            }
        }

        &__menu {
            padding-left: 33px;
            flex-wrap: wrap;
        }

        &__item-menu {
            padding: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            max-width: 100%;
            height: 40px;
            padding: 10px;
            padding-left: 20px;
            padding-right: 20px;
            color: #7E7E82;
            border: 2px solid transparent;
  
        }

        &__all {
            gap: 30px;
            margin-top: 0;
        }

        &__text {
            padding-top: 15px;
        }

        &__description {
            padding-left: 33px;
            height: 150px;
            overflow: hidden;
        }

        &__read-more {
            padding-left: 33px;
            

            &::before {
                padding-left: 5px;
                padding-right: 15px;
        
            }        
        }

        &__img {
            margin-right: 24px;
        }

    }   

}


.active {
    border: 2px solid $color-8;
    border-radius: 6px;
    background-color: white;

}