.mask {
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.96);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity 0.8s;
    visibility: hidden;
}


.modal {
    
    @media (max-width: $screen-md) {
        width: 100%;
    }

    width: 440px;
    height: 100%;
    background-color: $color-1;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 200;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), 
    -2px 0 4px 0 rgba(69, 79, 126, 0.02);
    transform: translateX(100%);
    transition: transform 1.1s;
    visibility: hidden;



    h2 {
        margin-top: 40px;
        margin-bottom: 20px;
        padding-left: 32px;
        font-size: 24px;
        font-weight: 700;
        line-height: 32px;
        letter-spacing: -0.6px;

        @media (max-width: $screen-md) {
            margin-top: 30px;
        }

        &::before {
            content: "";
            display: block;
            position: relative;
            top: 15px;
            right: 51px;
            transform: rotate(-90deg);
            width: 40px;
            height: 3px;
            background-color: $color-6;
            border-bottom-right-radius: 100px;
            border-bottom-left-radius: 100px;
            padding-left: 0.5px;
        }
    }


    &__form-group {
        width: 376px;
        margin-left: auto;
        margin-right: auto;

        @media (max-width: $screen-md) {
            width: 100%;
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    &__input,
    &__textarea {
        width: 100%;
        height: 48px;
        border: 1px solid #EAEAEA;
        line-height: 24px;
        font-weight: 500;
        padding-left: 15px;
        border-radius: 8px;
        margin-bottom: 15px;
    
        &::placeholder,
        &::-moz-placeholder,
        &::-webkit-input-placeholder {
            color: #B5B6BC;
            letter-spacing: -0.2px;
            line-height: 24px;
            font-weight: 500;
            font-size: 16px;
        }
    }

    &__textarea {
        height: 118px;
        padding-top: 10px;
        letter-spacing: -0.2px;
        line-height: 24px;
        font-weight: 500;
        font-size: 16px;
        resize: none;
        
    }

    &__text {
        margin-left: 32px;
        margin-right: 32px;
        color: #7E7E82;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        margin-bottom: 10px;

        @media (max-width: $screen-md) {
            margin-left: 16px;
            margin-right: 16px;
        }
        
        span {
            color: $color-2;
        }
    }

    &__button button {
        width: 136px;
        position: absolute;
        top: 480px;
        right: 32px;

        @media (max-width: $screen-md) {
            top: 550px;
        }
    
    }
}


.modal-call {

    &__button button {
        top: 220px;
    
        @media (max-width: $screen-md) {
            top: 290px;
        }
    }
}



.close {
    position: absolute;
    top: 35px;
    left: -70px;
    animation-name: scale;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate;
    transition: scale 0.5s;
    animation-delay: 1s;
    animation-timing-function: linear;
    transition: background-color 0.9s;

    @media (max-width: $screen-md) {
        position: static;
        margin-top: 25px;
        margin-left: 15px;
    }
}
